.spf-field {
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.spf-field a {
    text-decoration: none;

}

.spf-field:last-child {
    border-bottom: none;
}

.spf-field__label {
    margin-top: 0;
    margin-bottom: 0;
    cursor: default;
    width: 25%;
    font-weight: 500;
}

.spf-field__field-set {
    flex-grow: 1;
}

.spf-field__input {
    flex-basis: 30%;
    flex: 1;
}

.spf-field__input input:not([type="checkbox"]):not([type="radio"]), .spf-field__input textarea, .spf-field__input select {
    max-width: 100%;
    margin-inline: 0;
}

.spf-field__input input:not([size]) {
    width: 100%;
}

.spf-field__input select, .spf-field__input textarea {
    width: 100%;
}

.spf-field__input input[type="checkbox"], .spf-field__input input[type="radio"] {
    width: 1em;
}

.spf-field__radio-group {
    display: flex;
    align-items: center;
}

input[type=radio].spf-field__radio-button {
    line-height: 1;
    margin: 0 12px 0 6px;
}

.spf-field__description {
    margin-top: 10px;
}

.spf-input-list {
    line-height: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 12px;
}

/* File Field */
.spf-file {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;
    cursor: move;
    border: #ccd0d4 solid 1px;
}

.spf-file__icon {
    padding: 10px;
    background: #f1f1f1;
    border-right: #d5d9dd solid 1px;
}

.spf-file__info {
    padding: 10px;
}

.spf-file__edit:after {
    content: "|";
    color: #dcdcde;
    margin: 0 6px;
}

.spf-file__delete {
    color: red;
}

/* Image Field */
.spf-image__delete.hide, .spf-image__upload.hide {
    display: none;
}

.spf-image__image-container img {
    max-width: 300px;
}

/* Options Page */
.spf-settings {
    margin-top: 20px;
    background: #FFF;
    padding: 30px 20px;
}

.spf-settings h1 {
    margin-top: 0;
}

.spf-settings .form-table tbody tr th:first-child {
   display: none;
}

.spf-settings .form-table tbody tr td {
   padding: 0;
}